.student-class-header {
    position:relative; 
    width:100%; 
    aspect-ratio:16/10; 
    flex-shrink:0; 
    overflow:hidden;
}


@media screen and (min-width: 320px) and (orientation : landscape){
    .student-class-header  {
        aspect-ratio: 16/8;
    }
}

@media screen and (min-width: 1280px){
    .student-class-header  {
        aspect-ratio: 16/8;
    }
    
}

@media screen and (min-width: 1536px){
    .student-class-header  {
        aspect-ratio: 16/10;
    }
    .action-container, 
    .student-class-titles{
        padding: 32px;
    }
}
